In [1]:
import pandas as pd

In [41]:
dw = pd.read_csv("file csv/python_ dataset_superstore_simple.csv")

In [42]:
datawiggi

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
...,...,...,...,...,...,...,...,...,...
9983,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
9984,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
9985,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
9986,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9987,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

In [43]:
datawiggi.head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

In [45]:
datawiggi.dtypes

order_id         object
order_date       object
customer_id      object
segment          object
category         object
sub_category     object
sales           float64
quantity          int64
profit          float64
dtype: object

In [48]:
dw = pd.read_csv("file csv/python_ dataset_superstore_simple.csv", parse_dates=["order_date"])
dw.head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

In [49]:
datawiggi

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
...,...,...,...,...,...,...,...,...,...
9983,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
9984,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
9985,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
9986,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9987,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

In [50]:
dw

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
...,...,...,...,...,...,...,...,...,...
9983,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
9984,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
9985,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
9986,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9987,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

In [51]:
dw.head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

In [52]:
dw.dtypes

order_id                object
order_date      datetime64[ns]
customer_id             object
segment                 object
category                object
sub_category            object
sales                  float64
quantity                 int64
profit                 float64
dtype: object

In [55]:
kp = ["CA-2016-152156","CA-2016-152156", "CA-2016-138688","US-2015-108966","US-2015-108966"]
nk = ["Mas Anto", "Juki", "Joseph", "Gandi", "Yayan"]

dw_kurir = pd.DataFrame({
    "kode pesan" : kp,
    "nama kurir" : nk,
})

In [56]:
dw_kurir

       kode pesan nama kurir
0  CA-2016-152156   Mas Anto
1  CA-2016-152156       Juki
2  CA-2016-138688     Joseph
3  US-2015-108966      Gandi
4  US-2015-108966      Yayan

In [57]:
nk = ["Mas Anto", "Juki", None , "Gandi", "Yayan"]

In [62]:
kp = ["CA-2016-152156","CA-2016-152156", "CA-2016-138688","US-2015-108966","US-2015-108966"]
nk = ["Mas Anto", "Juki", None, "Gandi", "Yayan"]

dw_kurir = pd.DataFrame({
    "kode pesan" : kp,
    "nama kurir" : nk,
})

dw_kurir

       kode pesan nama kurir
0  CA-2016-152156   Mas Anto
1  CA-2016-152156       Juki
2  CA-2016-138688       None
3  US-2015-108966      Gandi
4  US-2015-108966      Yayan

In [63]:
dw_kurir.isna()

   kode pesan  nama kurir
0       False       False
1       False       False
2       False        True
3       False       False
4       False       False

In [64]:
dw_kurir.isna().any("columns")

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [65]:
dw_kurir[dw_kurir.isna().any("columns")]

       kode pesan nama kurir
2  CA-2016-138688       None

In [68]:
dw_kurir.to_csv("file csv/data kurir.csv", index=False)

In [69]:
dataatas = dw.head()

In [70]:
databawah = dw.tail()

In [71]:
dataatas

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

In [72]:
databawah

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
9983,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.248,3,4.1028
9984,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.960,2,15.6332
9985,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.576,2,19.3932
9986,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.600,4,13.3200
9987,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.160,2,72.9480

In [73]:
dataconcat = pd.concat([dataatas, databawah])

In [74]:
dataconcat

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
9983,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
9984,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
9985,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
9986,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9987,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

In [75]:
dataconcat.ignore_index=True

In [76]:
dataconcat

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
9983,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
9984,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
9985,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
9986,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9987,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

In [77]:
dataconcat = pd.concat([dataatas, databawah], ignore_index=True)

In [78]:
dataconcat

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
5,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
6,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
7,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
8,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

In [79]:
dataconcat = pd.concat([dataatas, databawah], index=True)

TypeError: concat() got an unexpected keyword argument 'index'

In [80]:
dataconcat = pd.concat([dataatas, databawah], index=False)

TypeError: concat() got an unexpected keyword argument 'index'

In [81]:
dataconcat = pd.concat([dataatas, databawah], ignore_index=True)

In [82]:
dataconcat

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
5,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
6,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
7,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
8,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

In [86]:
dataconcat.sort_values("order_date", ascending=False)

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
9,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480
6,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
7,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
8,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
5,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028

In [87]:
dataconcat = dataconcat.sort_values("order_date", ascending=False)

In [88]:
dataconcat

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
9,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480
6,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
7,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
8,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
5,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028

In [89]:
datawiggi

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
...,...,...,...,...,...,...,...,...,...
9983,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
9984,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
9985,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
9986,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9987,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

In [110]:
datacustomer = datawiggi.groupby(["customer_id"]).agg({
    "sales" : "sum",
}).sort_values("sales", ascending=False)

In [111]:
datacustomer

                 sales
customer_id
AB-10105     14473.571
KL-16645     14175.229
SC-20095     14142.334
SE-20110     12209.438
CC-12370     12129.072
...                ...
RS-19870        22.328
MG-18205        16.739
CJ-11875        16.520
LD-16855         5.304
TS-21085         4.833

[793 rows x 1 columns]

In [203]:
data_OS = datawiggi.groupby(["category", "sub_category"]).agg({
        "sales" : "sum",
})

In [204]:
data_OS

                                    sales
category        sub_category
Furniture       Bookcases     114879.9963
                Chairs        328449.1030
                Furnishings    91705.1640
                Tables        206965.5320
Office Supplies Appliances    107532.1610
                Art            27118.7920
                Binders       203412.7330
                Envelopes      16476.4020
                Fasteners       3024.2800
                Labels         12486.3120
                Paper          78479.2060
                Storage       223843.6080
                Supplies       46673.5380
Technology      Accessories   167380.3180
                Copiers        96328.1820
                Machines      162100.1660
                Phones        330007.0540

In [258]:
dataprofit = datawiggi.groupby("profit").agg({
        "quantity" : "sum",
})

In [259]:
dataprofit

            quantity
profit
-3839.9904         4
-3701.8928         8
-3399.9800         5
-2929.4845         5
-2639.9912         2
...              ...
 2591.9568         9
 2799.9840         5
 3177.4750         5
 4630.4755         5
 4946.3700        13

[7281 rows x 1 columns]

In [274]:
datawiggi

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
...,...,...,...,...,...,...,...,...,...
9983,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
9984,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
9985,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
9986,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9987,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480

In [315]:
datawiggi[datawiggi.profit==(-)]

SyntaxError: invalid syntax (<ipython-input-315-ac622c70b309>, line 1)

In [316]:
JE= datawiggi[datawiggi.customer_id=='JE-16165']

In [317]:
KH = datawiggi[datawiggi.customer_id=='KH-16510']

In [318]:
AD = datawiggi[datawiggi.customer_id=='AD-10180']

In [322]:
datacustomer= pd.concat([JE,KH,AD])

In [323]:
datacustomer

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
147,CA-2016-114489,2016-12-05,JE-16165,Corporate,Technology,Phones,384.450,11,103.8015
148,CA-2016-114489,2016-12-05,JE-16165,Corporate,Technology,Phones,149.970,3,5.9988
149,CA-2016-114489,2016-12-05,JE-16165,Corporate,Furniture,Chairs,1951.840,8,585.5520
150,CA-2016-114489,2016-12-05,JE-16165,Corporate,Office Supplies,Binders,171.550,5,80.6285
3186,US-2017-146416,2017-10-20,JE-16165,Corporate,Office Supplies,Labels,3.750,1,1.8000
3187,US-2017-146416,2017-10-20,JE-16165,Corporate,Office Supplies,Binders,20.928,4,7.5864
6904,US-2017-135503,2017-12-10,JE-16165,Corporate,Furniture,Furnishings,14.760,2,4.2804
405,CA-2017-117457,2017-12-08,KH-16510,Consumer,Technology,Accessories,179.950,5,37.7895
406,CA-2017-117457,2017-12-08,KH-16510,Consumer,Technology,Copiers,1199.976,3,434.9913
407,CA-2017-117457,2017-12-08,KH-16510,Consumer,Office Supplies,Paper,27.150,5,13.3035
408,CA-2017-117457,2017-12-08,KH-16510,Consumer,Furniture,Tables,1004.024,7,-112.9527
409,CA-2017-117457,2017-12-08,KH-16510,Consumer,Office Supplies,Paper,9.680,1,4.6464
410,CA-2017-117457,2017-12-08,KH-16510,Consumer,Office Supplies,Labels,28.350,9,13.6080
411,CA-2017-117457,2017-12-08,KH-16510,Consumer,Office Supplies,Paper,55.980,1,27.4302
412,CA-2017-117457,2017-12-08,KH-16510,Consumer,Furniture,Bookcases,1336.829,13,31.4548
413,CA-2017-117457,2017-12-08,KH-16510,Consumer,Furniture,Chairs,113.568,2,-18.4548
3147,US-2014-109036,2014-12-20,KH-16510,Consumer,Office Supplies,Labels,31.050,3,14.9040
3292,CA-2014-138023,2014-08-15,KH-16510,Consumer,Office Supplies,Binders,30.960,8,-52.6320
6491,CA-2017-111262,2017-10-28,KH-16510,Consumer,Technology,Accessories,24.000,2,-2.7000
6492,CA-2017-111262,2017-10-28,KH-16510,Consumer,Office Supplies,Paper,15.552,3,5.4432
6493,CA-2017-111262,2017-10-28,KH-16510,Consumer,Technology,Accessories,26.176,2,-3.2720
6801,CA-2014-152233,2014-10-05,KH-16510,Consumer,Technology,Accessories,99.980,2,34.9930
7744,CA-2015-133242,2015-06-18,KH-16510,Consumer,Furniture,Furnishings,60.840,3,19.4688
7745,CA-2015-133242,2015-06-18,KH-16510,Consumer,Office Supplies,Storage,450.040,2,58.5052
7746,CA-2015-133242,2015-06-18,KH-16510,Consumer,Office Supplies,Binders,34.600,2,16.6080
7747,CA-2015-133242,2015-06-18,KH-16510,Consumer,Technology,Phones,467.970,3,140.3910
7748,CA-2015-133242,2015-06-18,KH-16510,Consumer,Office Supplies,Binders,33.020,2,15.8496
9924,CA-2015-104948,2015-11-13,KH-16510,Consumer,Office Supplies,Binders,9.872,2,3.4552
9925,CA-2015-104948,2015-11-13,KH-16510,Consumer,Furniture,Bookcases,683.332,4,-40.1960
9926,CA-2015-104948,2015-11-13,KH-16510,Consumer,Office Supplies,Paper,29.960,7,13.4820
124,US-2014-152030,2014-12-26,AD-10180,Home Office,Furniture,Chairs,600.558,3,-8.5794
515,CA-2017-127432,2017-01-22,AD-10180,Home Office,Technology,Copiers,2999.950,5,1379.9770
516,CA-2017-127432,2017-01-22,AD-10180,Home Office,Office Supplies,Storage,51.450,3,13.8915
517,CA-2017-127432,2017-01-22,AD-10180,Home Office,Office Supplies,Paper,11.960,2,5.3820
518,CA-2017-127432,2017-01-22,AD-10180,Home Office,Office Supplies,Storage,1126.020,3,56.3010
1286,CA-2015-124268,2015-07-04,AD-10180,Home Office,Office Supplies,Art,15.480,3,4.4892
1326,CA-2015-120439,2015-06-14,AD-10180,Home Office,Furniture,Furnishings,51.072,6,5.1072
3697,CA-2017-160416,2017-11-13,AD-10180,Home Office,Technology,Accessories,163.960,4,70.5028
4924,CA-2017-143245,2017-12-01,AD-10180,Home Office,Office Supplies,Paper,19.440,3,9.3312
4925,CA-2017-143245,2017-12-01,AD-10180,Home Office,Furniture,Chairs,897.150,3,251.2020
5285,US-2017-136784,2017-04-30,AD-10180,Home Office,Office Supplies,Paper,163.960,4,80.3404
9729,CA-2014-128062,2014-11-19,AD-10180,Home Office,Office Supplies,Paper,5.880,1,1.9845

In [329]:
datacustomer.groupby('customer_id').agg({
    'quantity' : 'sum'
})

             quantity
customer_id
AD-10180           40
JE-16165           34
KH-16510           91

In [337]:
datawiggi = datawiggi, (parse_dates=["order_date"])

SyntaxError: invalid syntax (<ipython-input-337-dd1352ec2b3b>, line 1)

In [338]:
dw

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,2016-11-08,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,2016-06-12,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,2015-10-11,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,2015-10-11,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
...,...,...,...,...,...,...,...,...,...
9983,CA-2014-110422,2014-01-21,TB-21400,Consumer,Furniture,Furnishings,25.2480,3,4.1028
9984,CA-2017-121258,2017-02-26,DB-13060,Consumer,Furniture,Furnishings,91.9600,2,15.6332
9985,CA-2017-121258,2017-02-26,DB-13060,Consumer,Technology,Phones,258.5760,2,19.3932
9986,CA-2017-121258,2017-02-26,DB-13060,Consumer,Office Supplies,Paper,29.6000,4,13.3200
9987,CA-2017-119914,2017-05-04,CC-12220,Consumer,Office Supplies,Appliances,243.1600,2,72.9480